/* Page load animation */
.home-once {
  opacity: 0;
}
.home-once-active {
  transition: opacity 3s linear .3s;
}
.home-once-to {
  opacity: 1;
}





/* Slide to home */

/* Transition with cover screen */

/*
.home-leave-active ,
.home-enter-active ,
*/


.home-leave-active,
.home-enter-active {
  transition: all .5s var(--easing);
}

/* Animating here INSIDE the container 
 * transitions are in the el's chidren 
 *
 *  SLIDE IN 
 */
.home-leave { transform: translateX(0); }
.home-leave-to { transform: translateX(100%); }

 /*  SLIDE OUT */
.home-enter { transform: translateX(-100%); }
.home-enter-to { 
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0); 
}
