/* Transition with cover screen */
.with-cover-leave-active ,
.with-cover-enter-active ,
.with-cover-leave-active .transition,
.with-cover-enter-active .transition {
  transition: transform .5s var(--easing);
}


/* Animating here INSIDE the container 
 * transitions are in the el's chidren 
 *
 *  COVER IN 
 */
.with-cover-leave .transition { transform: translateY(-100%); }
.with-cover-leave-to .transition { transform: translateY(0); }

 /*  COVER OUT 
 */
.with-cover-enter .transition { transform: translateY(0); }
.with-cover-enter-to .transition { transform: translateY(100%); }